{% extends "base.html" %}
{% block content %}
<div class="content">
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  <div class="loginbox">
  <form method="post" action=".">{% csrf_token %}
    <table>
      <tr>
	<td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
      <tr>
          <td><label>&nbsp;</label></td>
          <td><input type="submit" value="login" />&nbsp;&nbsp;&nbsp;<a href="{% url registration_register %}">Register</a>
            <input type="hidden" name="next" value="{{ next }}" />
          </td>
      </tr>
    </table>
</form>
</div>
</div>
{% endblock %}

