html, body {
	margin:auto;
    padding:auto;
    border:0;
}

.header {
  position: absolute;
  height: 50px;
  left: 0;
  top: 0;
  right: 0;
  background-color:#acc;
}

.heading { font-style: italic;
    text-align: center;
}

.footer {
  position: absolute;
  height: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:#acc;
  padding-top:20px;
  text-align:center;
}

.content {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  margin-top:60px;
  margin-left:40px;
  margin-right:40px;
}

.box1 {
  width: 30%;
  height: 50%;
}

.logo {
	float: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 5px;
	width:500px;
}

.links {
   	display: inline;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}

.links a {
	margin-right:20px;
}

.hclear {
	clear:both;
	float:left;
}

.content-area{border:black 1px solid;min-height:400px;width:800px;margin:auto;}
#add-list-form{display:none;}
.clickable{ cursor: pointer; }

.loginbox {
    background-color: #AACCCC;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 340px;
}

.content p, .errorlist{
color:red;
text-align:center;
font-size:13px;
}

.add_que_button{ background-image:url(../images/grey_btnbg.jpg); background-repeat:repeat-x; border:1px solid #d6d6d6; height:35px; margin-left:15px; float:right; cursor:pointer; padding:0 5px; font-size:13px; color:#515050; text-align:center; -webkit-text-shadow: 1px 1px 3px #818282; /* Safari and Chrome */ text-shadow: 1px 1px 3px #818282; font-weight:bold; border-radius:0px}