html, body {
	margin:auto;
    padding:auto;
    border:0;
    font-family:Arial, Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  height: 50px;
  left: 0;
  top: 0;
  right: 0;
  background-color:#acc;
}

.footer {
  position: absolute;
  height: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:#acc;
  padding-top:20px;
  text-align:center;
}

.content {
  position: absolute
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  margin-top:60px;
  margin-left:40px;
  margin-right:40px;
}

.box1 {
  width: 30%;
  height: 50%;
}

.logo {
	float: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 5px;
	width:500px;
}

.links {
   	display: inline;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}

.links a {
	margin-right:20px;
}

.hclear {
	clear:both;
	float:left;
}

.loginbox {
    background-color: #AACCCC;
    height: auto;
    margin: auto;
    padding: 30px;
    width: 480px;
}

.loginbox input[type=text], .loginbox input[type=password] {
    width:300px;
    height:22px;
    padding:5px;
    font-size:14px;
}

.loginbox label {
    float: left;
    font-size: 20px;
    width: 130px;
    font-weight:bold;
}

.loginbox input[type=submit] {
    height:40px;
    width:80px;
    font-weight:normal;
    font-size:14px;
}

.content p {
    text-align:center;
    color:red;
}
